* {
    padding: 0%;
    margin: 0%;
    box-sizing: border-box;
    text-decoration: none;
}

a {
    color: #0f0b0b;
    padding: 0.6rem;
}

a:hover{
    padding: 0.5rem;
    background-color: rgb(172, 138, 144);
}

h1 {
    font-size: 70px;
}


p {
    font-size: 18px;
    text-align: center;

}

ul {
    /*aplicando flexbox a la barra de navegacion*/
    display: flex;
    flex-direction: row;
    /*fila*/
    list-style: none;
    /*chau puntitos*/
    padding: 1rem;
    /*centrando las palabras de la nav*/
    flex-wrap: wrap;
}


header {
    /*barra de navegacion*/
    display: flex;
    /*ubico la imagen y la barra EN DIVS al lado. El padre es el header*/
    justify-content: space-between;
    align-items: center;
    /*lleva los elementos de los divs a los extremos*/
    background-color: #836363;
}


.encabezado{
    position: fixed;
    z-index: 10000000;
    display: flex;
    width: 100%;

}


nav {

    /*alto nav*/
    text-transform: uppercase;
    /*mayusc*/
    font-size: 15px;
    color: #abd1c6;
    font-weight: 700;

/*porque cuando fijo la barra de navegacion se me va hacia el lado izquierdo?*/
}



body {

    font-family: 'Titillium Web', sans-serif;
    color: #ffffff; 
}
main{
    background-color: #654d4d;
}
.titulo-seccion{
    text-align: center;
}


/* PAGINA INICIO */

/* SECCION BIENVENIDA */

.home .seccion-bienvenida{
     /*inicio 1 the builder...*/
     width: 100%;
     background: url(img/fondo-home.jpg) no-repeat center center #423c3cb5;
     background-size: cover;
     background-blend-mode: multiply;
     text-align: center;
     padding: 5rem;
}
.home .seccion-bienvenida .btn-contacto {
    /*boton del inicio 1 the builder...*/
    background-color: #f9bc60e6;
    color: #001e1d;
    font-size: 12px;
    font-weight: 700;
    padding: 10px;
    margin-top: 3rem;
    border-radius: 7px;
    text-align: center;
    display: block;
    max-width: 120px;
    margin: auto;
    margin-top: 2rem;
}
/* SECCION NOSOTROS */
.nosotros {
    padding: 1.5rem 0;
    background-color: #654d4d;
    padding-top: 1rem;
}
.nosotros .titulo-seccion{
    font-size: 60px;
    transform: translate(-350px, 120px); /*esto esta bien??? valores tan grandes?*/

}

.nosotros .contenedor{
    display: flex;
    justify-content: center;
    align-items: center;
}
.nosotros .contenedor__texto, .nosotros .contenedor__foto{
    width: 45%;
}
.nosotros .contenedor__texto{
    color: #000;
    background-color: #fff; 
    border-radius: 5px;
    line-height: 30px;
    padding: 1rem;
    margin: 1rem;
}
.nosotros .contenedor__foto .foto{
    max-width: 100%;
    border-radius: 5px;
}

/* COMO TRABAJAMOS */


.como-trabajamos .grid{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-template-rows: (1,200px);
    background-color: #665252;
    gap: 35px;
    padding: 2rem 0;
}


.grid__hijo{
    background-color:#836363;
    color: #ffffff;
    border-radius: 5px;
}
.grid__hijo--1{
    grid-column: 2/3;
}

.grid__hijo--2{
    grid-column: 3/4;
}

.grid__hijo--3{
    grid-column: 2/3;
}

.grid__hijo--4{
    grid-column: 3/4;
}

*/






.fondo{
    background-color: #001e1d;

}
.two__sub{
    padding-top: 0.5rem;
}

.two__tit{
    padding-top: 1rem; 
}



.comotrabajamos{ /*seguimos en seccion como trabajamos*/ /*como hacer padding aca y porque no me deja?*/
    display: flex;
    flex-direction: column; /*aplicando flexbox a todos los elementos de la grid, para luego poder centrar sus elementos y que quede prolijo*/
    align-items: center;
}

.como-trabajamos .titulo-seccion{

    background-color:#665252;
    font-size: 45px;

}

.comotrabajamos__img{
    width: 200px;
    height: 200px; /*agrandado de imagen*/
}

.comotrabajamos__pasion{
    margin-bottom: 1rem;
}

.comotrabajamos__calidad{
    margin-bottom: 1rem;
}

.comotrabajamos__objetivos{
    margin-top: 1rem;
    margin-bottom: 1rem;
}

.comotrabajamos__tecnologias{
    margin-top: 1rem;
    margin-bottom: 1rem;
}

.comotrabajamos__p{
    margin: 0.5rem;

} 

/*cambiar color de fondo a traves de la section que envuelve toda la parte two*/



.nuestrosservicios{
    background-color: #333030;

}


/*servicios*/
.servicios{
    display: flex;
    justify-content: space-around;
    background-color: #333030;   
}


.servicios__flexbox{
    display: flex;
    flex-direction: column;
    align-items: center; 
}


/*formulario*/
.formulariofondo{
    background-color: #8b7f7f;
    color: black;
}

.formulario{
    display: flex;
    flex-direction: column;
    padding-left: 2rem;

}


/*HTML SERVICIOS NUEVOOOOOOO*/


.item1, .item2, .item3{
    font-size: 65px;
    font-weight: 700;
    padding: 2rem;
    text-align: start;
}



.web-flexbox{
    display: flex;
    flex-direction: row;
    align-items: center;
}

.texto{
    background-color: #665252; 
    width: 50%;
    padding: 3rem;
    color: #0f0b0b;
}



.mobileflexbox{
    display: flex;
    flex-direction: row;
}

.responsive{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;

}

.celutexto{
    display: flex;
    flex-direction: column;
    align-items: center;
    font-size: 25px;
    font-weight: 300;
}

.celutexto__mover{
    transform: translate(0, -60px);
}

/*pagina de servicios (nuevo html)*/

.ipad-imgrotar{
    transform: rotate(-90deg);
}

.ipad{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-evenly;
    margin-top: 3rem;
}



.footer{
    display: flex;
    flex-direction: row;
    /*fila*/
    list-style: none;
    /*chau puntitos*/
    padding: 1rem;
    /*centrando las palabras de la nav*/
    justify-content: center;
    background-color: #726c6c;
}



@media screen and (max-width:1023px) /* coddigo a crear o pisar en vista de tablet*/ {

    
}

@media screen and (max-width:599px) /*vista de celu*/ {





.contenedor{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;


}

.seccion-bienvenida{
    width: 100%;
    background-image: url(./img/chris-ried-ieic5Tq8YMk-unsplash\ \(1\).jpg);
    background-repeat: no-repeat;
}  


.como-trabajamos .grid{
    display: grid;
    padding: 20px;
    grid-template-columns: 1fr;
    grid-template-rows: (1, 200px);
    grid-template-areas: 
    "img1"
    "img2"
    "img3"
    "img4";
}


.grid__hijo{
    background-color: #665252;
    color: #ffffff;
    border-radius: 5px;
}

.grid__hijo--1{
    grid-column: 1/1;
}

.grid__hijo--2{
    grid-column: 1/1;
}

.grid__hijo--3{
    grid-column: 1/1;
}

.grid__hijo--4{
    grid-column: 1/1;
}


.nuestrosservicios .servicios{
    flex-direction: column;
}

.nosotros .contenedor{
    display: flex;
    flex-direction: column-reverse;
}

.nosotros .contenedor__texto{
    width: 70%;
    margin-top: 1rem;
}

.nosotros .titulo-seccion{
    display: flex;
    flex-direction: column;
}

.nosotros .contenedor__foto{
width:auto;
}

.item1{
    text-align: center;
}

.web-flexbox{
    flex-direction: column;
    justify-content: space-around;
    
}

.texto{
    width: 90%;
}

.webflexbox__img{ /*no puedo ALINEAR la img web*/
    width: 300px;
    height: 250px;
}

.responsive{
    flex-direction: column;
}

.ipad{
    flex-direction: column;
}

.item2{
    font-size: 50px;
    text-align: center;
}



}





































































/*




.whatsapp{
background-color: green;  
color:white;
width: 100px;
padding: 0,5rem 1rem;
text-align: center;
list-style: none;
border-radius: 12px;
position: fixed;
right:0;
bottom: 0;
}

.whatsapp a{
    color: white;
}

